<!doctype html>
<html lang="en">

<head>
  <title>HR Book</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
  <style>
    body {
      background-image:url('/img/cambio_password.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>


<div class="container">
  <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <br>
            <div class="card">
              <div class="card-header">
                  Cambio de Clave
              </div>
              <form action='/admin/cambio_clave' method = "post">
                <div class="alert alert-info" role = "alert">
                  <label for="txtNuevaclave" class="form-label">Escribe tu nueva clave</label>
                  <br>
                  <input type = "text" class="form-control" name="txtNuevaclave" id="txtNuevaclave" aria-describedby="helpId" placeholder="Clave Nueva">
                  <input type = "hidden" name="usuario" id = "usuario" value = {{ usuario }}>
                <br>
                <button type="submit" class="btn btn-success">Cambiar Clave</button>
                </div>
                            </form>
                          </div>
                          <div class="card-footer text-muted">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>

  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>