<!doctype html>
<html lang="en">

<head>
  <title>HR Book</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

  <script src="sitio/js/main.js"></script>
  <script src="admin/main.js"></script>
  <script src="js/main.js"></script>
  <script src="main.js"></script>
  
  <div class="container">
      <form action ="alta/usuarionuevo" method="post" enctype = "multipart/form-data">
          
              <div class = "row">
              <div class="col">
                  <label for="Gerencia" class="form-label">Gerencia:</label>
                  <select class="form-select form-select" name="Gerencia" id="Gerencia">
                      
                  </select>
              </div>
              <div class="col">
                  <label for="Jefatura" class="form-label">Jefatura:</label>
                  <select class="form-select form-select" name="Jefatura" id="Jefatura">
                  </select>
              </div>
              <div class="col">
                  <label for="Nivel" class="form-label">Nivel:</label>
                  <select class="form-select form-select" name="Nivel" id="Nivel">
                  </select>
              </div>
          </div>
          <br>
                
      </form>
  </div>
  

  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>