<!doctype html>
<html lang="en">

<head>
    <title>HR Book</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  </head>
    <body>

{% if session["funcion"] == 'Admin' %}

<nav class="navbar navbar-expand-lg" style="background-color: #e06e57;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" style="color: white;" href="/admin_inicio">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" style="color: black;" href="/usuarios">Usuarios</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/noticias">Noticias</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vacaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" style="color: black;" href="/cargarvacaciones">Cargar</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/listarvacaciones">Listar</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/vacaciones_acciones">Aprobar</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/listar_cronograma">Listar Cronograma</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Setup
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" style="color: black;" href="/empresa">Empresas</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/cargos">Cargos</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/niveles">Jerarquias</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/estructura">Estructura</a></li>
                    <li><a class="dropdown-item" style="color: black;" href="/reglas_vacaciones">Reglas de Vacaciones</a></li>
                </ul>
            </li>
            <a class="nav-item nav-link" style="color: white;" href="/organigrama">Organigrama</a>    
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-warning my-3 my-sm-0" href="/">Cerrar Sesion {{ session["nombre_usr"] }}</a>
        </form>
    </div>
</nav>
        <br>

{% else %}
{% include('/sitio/cabecera.html') %}
{% endif %}

<div class = "container">