{% include 'admin/cabecera.html' %}

    <div class="row">
        <div class="col-md-3">
            <a name="" id="" class="btn btn-success" href="alta_periodo" role="button">Dar de Alta Periodo {{ tiempo }}</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Periodos Creados</th>
                        <th scope="col">Total Empleados</th>
                        <th scope="col">Total Vacaciones</th>
                        <th scope="col">Total Dias Tomados</th>
                        <th scope="col">Total Dias Pendientes</th>
                        <th scope="col">Total Dias Aprobados</th>
                        <th scope="col">Total Dias por Aprobarse</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for calculo in calculo %}
                    <tr class="">
                        <td scope="row">{{ calculo[0] }}</td>
                        <td>{{ calculo[1] }}</td>
                        <td>{{ calculo[2] }}</td>
                        <td>{{ calculo[3] }}</td>
                        <td>{{ calculo[4] }}</td>
                        <td>{{ calculo[8] }}</td>
                        <td>{{ calculo[5] }}</td>
                        <td>
                            <form action="cargarvacaciones/borrar" method="post" >
                            <input value = "{{ calculo[0] }}" type="hidden" name = "Periodo" id = "Periodo">
                            <input type="submit" class="btn btn-danger btn-sm" value="Eliminar Periodo {{ calculo[0]}}">
                            </form>
                        </td>
                        <td>    
                            <form action="cargarvacaciones/activar" method="post" >
                                <input value = "{{ calculo[0] }}" type="hidden" name = "Periodo" id = "Periodo">
                                <input type="submit" class="{{ calculo[7]}}" value="{{ calculo[6]}}">
                            </form>
                        </td>
                        
                                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>

        </div>
    </div>

{% include 'admin/footer.html' %}