{% include 'admin/cabecera.html' %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Datos de la Estructura
                </div>
                <div class="card-body">
                    <form action ="/admin/estructura/guardar" method="post" enctype = "multipart/form-data">
                        <div class="mb-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="txtAprobacion" id="txtAprobacion" aria-describedby="helpId" placeholder = "Escriba la Estructura" required>
                            </div>
                        </div>   
                        
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                 
                </div>
            </div>
            
        </div>
        <div class="col-md-7">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Estructura Creada</th>
                            <th scope="col">Creado por</th>
                            <th scope="col">Fecha</th>
                            <th scope="col" colspan="2" style="text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estructura in estructura %}
                        <tr class="">
                            <td scope="row">{{ estructura[1] }}</td>
                            <td>{{ estructura[4] }}</td>
                            <td>{{ estructura[3] }}</td>
                            <td>
                                <form action="/admin/estructura/borrar" method="post" >
                                <input value = "{{ estructura[0] }}" type="hidden" name = "txtId" id = "txtId">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                            <td>
                                <form action="/admin/estructura/editar" method="post" >
                                    <input value = "{{ estructura[0] }}" type="hidden" name = "txtId" id = "txtId">
                                    <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            
        </div>
        
    </div>
</div>

{% include 'admin/footer.html' %}