{% include 'admin/cabecera.html' %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Datos de la Gerencia
                </div>
                <div class="card-body">
                    <form action ="/admin/gerencias/guardar" method="post" enctype = "multipart/form-data">
                        
                        <div class="mb-3">
                            <label for="txtGerencia" class="form-label">Gerencia</label>
                            <input type="text" class="form-control" name="txtGerencia" id="txtGerencia" aria-describedby="helpId" placeholder = "Escriba la Gerencia" required>
                        </div>
                        <div class="mb-3">
                            <label for="txtAtribucion" class="form-label">Atribucion de la Gerencia:</label>
                            <select class="form-select form-select-sm" name="txtAtribucion" id="txtAtribucion" required>
                                <option value = "" selected>Atribuciones de la Gerencia</option>
                                {% for atribuciones in atribuciones %}
                                <option value="{{ atribuciones[0] }}">{{ atribuciones[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                       
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                 
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Gerencia</th>
                            <th scope="col">Atribucion</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Creado por</th>
                            <th scope="col" colspan="2" style="text-align: center;">Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for gerencias in gerencias %}
                        <tr class="">
                            <td scope="row">{{ gerencias[0] }}</td>
                            <td>{{ gerencias[1] }}</td>
                            <td>{{ gerencias[3] }}</td>
                            <td>{{ gerencias[4] }}</td>
                            <td>{{ gerencias[2] }}</td>
                            <td>
                                <form action="/admin/gerencias/borrar" method="post" >
                                <input value = "{{ gerencias[0] }}" type="hidden" name = "txtId" id = "txtId">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                            <td>
                                <form action="/admin/gerencias/editar" method="post" >
                                    <input value = "{{ gerencias[0] }}" type="hidden" name = "txtId" id = "txtId">
                                    <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            
        </div>
        
    </div>
</div>


{% include 'admin/footer.html' %}