{% include 'admin/cabecera.html' %}

<div class="row">
    <div class="col-md-3">
        <a name="" id="" class="btn btn-success" href="vacaciones_alta_empleado" role="button">Dar de Alta un Empleado</a>
    </div>
</div>
<br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Dias Totales</th>
                        <th scope="col">Dias Gozados</th>
                        <th scope="col">Dias Pendientes</th>
                        <th scope="col">Dias por Aprobarse</th>
                        <th scope="col">Dias Aprobados</th>
                        <th scope="col-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for listar in listar %}
                    <tr class="">
                        <td scope="row">{{ listar[0] }}</td>
                        <td>{{ listar[1] }}</td>
                        <td>{{ listar[2] }}</td>
                        <td>{{ listar[3] }}</td>
                        <td>{{ listar[4] }}</td>
                        <td>{{ listar[5] }}</td>
                        <td>{{ listar[6] }}</td>
                        <td>{{ listar[7] }}</td>
                        <td>
                            <form action="/admin/vacaciones/borrar" method="post" >
                            <input value = "{{ listar[0] }}" type="hidden" name = "Idvacaciones" id = "Idvacaciones">
                            <input type="submit" class="btn btn-danger btn-sm" value="Borrar">
                            </form>
                        </td>
                        <td>
                            <form action="/admin/vacaciones/editar" method="post" >
                            <input value = "{{ listar[0] }}" type="hidden" name = "Idvacaciones" id = "Idvacaciones">
                            <input type="submit" class="{{listar[10]}}" value="{{listar[11]}}">
                            </form>
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>

        </div>
    </div>

{% include 'admin/footer.html' %}