{% include 'admin/cabecera.html' %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Datos de Jerarquias
                </div>
                <div class="card-body">
                    <form action ="/admin/niveles/guardar" method="post" enctype = "multipart/form-data">
                        <div class="mb-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="Jerarquia" id="Jerarquia" aria-describedby="helpId" placeholder = "Escriba la Jerarquia" required>
                            </div>
                        </div>   
                        <div class="mb-3">
                            <label for="Orden" class="form-label">Orden:</label>
                            <select class="form-select form-control" name="Orden">
                                <option value = "" selected>Escoja un Orden</option>
                                {% for orden in orden %}
                                <option value="{{ orden[0] }}">{{ orden[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>                        
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                 
                </div>
            </div>
            
        </div>
        <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nivel de Creado</th>
                            <th scope="col">Atribucion</th>
                            <th scope="col">Creado por</th>
                            <th scope="col">Fecha</th>
                            <th scope="col" colspan="2" style="text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for niveles in niveles %}
                        <tr class="">
                            <td scope="row">{{ niveles[1] }}</td>
                            <td>{{ niveles[2] }}</td>
                            <td>{{ niveles[4] }}</td>
                            <td>{{ niveles[3] }}</td>
                            {% if niveles[1] != 'Admin' %}
                            <td>
                                <form action="/admin/niveles/borrar" method="post" >
                                <input value = "{{ niveles[0] }}" type="hidden" name = "txtId" id = "txtId">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                            <td>
                                <form action="/admin/niveles/editar" method="post" >
                                    <input value = "{{ niveles[0] }}" type="hidden" name = "txtId" id = "txtId">
                                    <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            
        </div>
        
    </div>
</div>

{% include 'admin/footer.html' %}