{% include 'admin/cabecera.html' %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Datos de la Jerarquia
                </div>
                <div class="card-body">
                    {% for niveles in niveles %}
                    <form action ="/admin/niveles/guardar_editar" method="post" enctype = "multipart/form-data">
                        <input value = "{{ niveles[0] }}" type="hidden" name = "txtId" id = "txtId" autocomplete="off">
                        <div class="mb-3">
                            <label for="Jerarquia" class="form-label">Jerarquia</label>
                            <input type="text" class="form-control" name="Jerarquia" id="Jerarquia" aria-describedby="helpId" value = "{{ niveles[1] }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="Orden" class="form-label">Orden:</label>
                            <select class="form-select form-control" name="Orden">
                                <option value = "{{ niveles[3] }}" selected>{{ niveles[2] }}</option>
                                {% for orden in orden %}
                                <option value="{{ orden[0] }}">{{ orden[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-warning" onclick="return confirmChanges()">Modificar</button>
                        <a class="btn btn-info" style="color: white;" href="/niveles" onclick="return confirmChanges()">Descartar</a>
                    </form>
                    {% endfor %}
                </div>
                <div class="card-footer text-muted">
                 
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
        
    </div>
</div>

<script>
   function confirmChanges() {
       return confirm("¿Estás seguro de que quieres realizar los cambios?");
   }
</script>

{% include 'admin/footer.html' %}