<!doctype html>
<html lang="en">

<head>
  <title>Primera Book</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

</head>
<body>

  <style>
 
    body {
    margin: 0;
    padding: 0;
    background-image: url('/img/feliz_cumple1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  </style>


<div class="container">
  <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <br>
            <div class="card">
              <div class="card-header">
                Perfecto Gabriela!! Bienvenida!!
              </div>
              <div class="card-header">
                Antes que nada, quiero ver si conoces bien a tu familia y te voy a preguntar cosas, que si acertas, pasas al siguiente paso:
              </div>
              <br>
              <div class="card-body">
                  <form action='/cumple/login3' method = "post">
                    <b>Que es lo que mas le gusta a Santi?</b><br><label>
                      <input type="radio" name="opcion_santi" value="Pizza"> Pizza
                    </label>
                    <label>
                      <input type="radio" name="opcion_santi" value="Salchica"> Salchica
                    </label>
                    <label>
                      <input type="radio" name="opcion_santi" value="Papitas"> Papitas
                    </label>
                    <label>
                      <input type="radio" name="opcion_santi" value="PlayStation"> PlayStation
                    </label>
                    <br><br>
                    <b>Que es lo que mas le gusta a Sofi?</b><br><label>
                      <input type="radio" name="opcion_sofi" value="Bailar"> Bailar
                    </label>
                    <label>
                      <input type="radio" name="opcion_sofi" value="Pilates"> Pilates
                    </label>
                    <label>
                      <input type="radio" name="opcion_sofi" value="Dormir"> Dormir
                    </label>
                    <label>
                      <input type="radio" name="opcion_sofi" value="Comer"> Comer
                    </label>
                    <br><br>
                    <b>Que es lo que mas le gusta a Diego?</b><br><label>
                      <input type="radio" name="opcion_diego" value="Tejo"> Tejo
                    </label>
                    <label>
                      <input type="radio" name="opcion_diego" value="Basket"> Basket
                    </label>
                    <label>
                      <input type="radio" name="opcion_diego" value="Pescar"> Pescar
                    </label>
                    <label>
                      <input type="radio" name="opcion_diego" value="Milanesa"> Milanesa
                    </label>
                    <br>                    
                    <br>
                      <button type="submit" class="btn btn-success">Entrar</button>  
                  </form>
              </div>
              <div class="card-footer text-muted">
              </div>
          </div>
      </div>
      <div class="col-md-4"></div>
    </div>
</div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <script src="script.js"></script>            
            

</body>

</html>