<!doctype html>
<html lang="en">

<head>
  <title>Septima Book</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url('/img/feliz_cumple8.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
    }

    #imagen-preview {
    max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor */
    max-height: 100%; /* Asegura que la imagen no sea más alta que el contenedor */
  }

  .ancho-mas-grande {
            width: 100%;
        }
</style>




<div class="ancho-mas-grande">
  <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <br>
            <div class="card">
              <div class="card-header">
                <b>Feliz Cumple Aniticipado!!!</b>.Sos la mejor Madre y Mujer que podamos tener!. Siempre apoyando y acompañandonos. Te amamos muchisimo!.
              </div>
              <div class="card-header">
                El regalo que pensamos fue ir a ver a <b>U2 en Las Vegas en la Sphere!!</b>.
              </div>
            <div class="card-body">
                <img src="/img/u2.png" id="imagen-preview">
             </div>
             
              </div>
              <div class="card-footer text-muted">
              </div>
          </div>
      </div>
      <div class="col-md-4"></div>
    </div>
</div>







  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>