body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-item {
    text-align: center;
    margin: 0 10px;
}

.countdown-number {
    font-size: 2rem;
    font-weight: bold;
}